/**
 * rougify style gruvbox.dark
 */

.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w {
  color: #FFFFFF;
  background-color: #1E1E28;
}
.highlight .err {
  color: #FF4830;
  background-color: #1E1E28;
  font-weight: bold;
}
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #606060;
  font-style: italic;
}
.highlight .cp {
  color: #8EC080;
}
.highlight .nt {
  color: #FF4830;
}
.highlight .o, .highlight .ow {
  color: #FFFFFF;
}
.highlight .p, .highlight .pi {
  color: #FFFFFF;
}
.highlight .gi {
  color: #C0C020;
  background-color: #1E1E28;
}
.highlight .gd {
  color: #FF4830;
  background-color: #1E1E28;
}
.highlight .gh {
  color: #C0C020;
  font-weight: bold;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #00AAFF;
}
.highlight .kc {
  color: #999999;
}
.highlight .kt {
  color: #00AAFF;
}
.highlight .kd {
  color: #FF1414;
}
.highlight .s, .highlight .sa, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #00FF00;
  font-style: italic;
}
.highlight .si {
  color: #FFBE1E;
  font-style: italic;
}
.highlight .sr {
  color: #FFBE1E;
  font-style: italic;
}
.highlight .se {
  color: #FF8000;
}
.highlight .nn {
  color: #80C880;
}
.highlight .nc {
  color: #80C880;
}
.highlight .no {
  color: #D88080;
}
.highlight .na {
  color: #C0C020;
}
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #B400E1;
}
.highlight .ss {
  color: #7DA5A5;
}
